<h1>Stories about Swimming</h1>
<div class="row">
    {{#each stories}}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    {{!-- ../user for the logged in user --}}
                    {{!-- Use triple curly brace to parse HTML within handlebars --}}
                    {{{editIcon user ../user _id}}}
                </div>
                <div class="card-content center-algin">
                    <h5>{{title}}</h5>
                    <p>{{stripTags (truncate body 50)}}</p>
                    <br>
                    <div class="chip">
                        <img src="{{user.image}}" alt="User Image">
                        <a href="/stories/user/{{user._id}}">{{user.displayName}}</a>
                    </div>
                </div>
                <div class="card-action center-aligin">
                    <a href="/stories/{{_id}}" class="btn grey">Read More</a>
                </div>
            </div>
        </div>
    {{else}}
        <p>No stories yet</p>
    {{/each}}
</div>